<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36591956314-p4jh500ns6e4ta3ih2t03029kgetb8kr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36591956314-p4jh500ns6e4ta3ih2t03029kgetb8kr</string>
	<key>API_KEY</key>
	<string>AIzaSyAqrIIYrEzMSmH6gGqG3EUruCu9X-L7IE4</string>
	<key>GCM_SENDER_ID</key>
	<string>36591956314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.willconnelly.postit</string>
	<key>PROJECT_ID</key>
	<string>postit-wc</string>
	<key>STORAGE_BUCKET</key>
	<string>postit-wc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36591956314:ios:edba6c8820defd57</string>
	<key>DATABASE_URL</key>
	<string>https://postit-wc.firebaseio.com</string>
</dict>
</plist>